<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
  <table border="1" cellpadding="0" cellspacing="0" width="600" style="color: #333; font-size: 16px; border-collapse: collapse; border: none; margin: auto;">
    <thead>
      <tr>
        <th style="border: none; text-align: left; border-bottom: 1px solid #ccc; padding-bottom: 15px;">
            有新评论啦！
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="border: none; padding-top: 15px;">(｡･∀･)ﾉﾞ嗨</td>
      </tr>
      <tr>
        <td style="border: none; padding: 15px 0; font-weight: bold;"><a href="{{ new_comment_url }}">点我！去看新评论</a></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
